.content {
  background-color: grey;
  height: 100vh;
}

.header {
  background-color: white;
}

.nav{
  letter-spacing: 0.35px;
  margin: 0px;
  padding-top: 16px;
  border: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 40px;
  z-index: 0;

  .item{
    color: black;
    text-transform: uppercase;
    opacity: 1;
    margin: 0;

    .link {
      color: inherit;
      padding: 6px 16px 4px;
      font-size: 14px;
      font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 17px;
      letter-spacing: 1.3px;
      text-decoration: none;
      cursor: pointer;
    }

  }
}

.dropdown {
  padding: 40px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;

    .item{
      display: block;
      color: black;
      text-transform: capitalize;
      opacity: 1;
      margin: 0;
  
      .link {
        color: inherit;
        padding: 6px 16px 4px;
        font-size: 12px;
        font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
        font-weight: bold;
        text-transform: capitalize;
        line-height: 17px;
        letter-spacing: 1.3px;
        text-decoration: none;
        cursor: pointer;
      }
    }
}